*{
  margin: 0px;
  padding: 0px;
}
body{
  max-width: 940px;
  background-color: #FAF198;
  margin: 0 auto;
}
header{
  background-color: #A3F3EB;
  color: #235C0B;
  text-align: center;
  padding: 30px;
}
.container{
  display: flex;
  max-width: 100%;
}
nav{
  background-color: #FCD0B2;
  width: 25%;
}
nav ul{
  list-style-type: none;
  padding-left: 10px;
}
nav ul li{
  margin: 30px 40px;
}
main{
  background-color: #BCFB6B;
  width: 75%;
}
h3{
  text-align: center;
  padding-top: 30px;
}
main p{
  padding-left: 20px
}
main ul{
  margin: 20px 60px;
  list-style-type: none;
}
}
footer{
  color: green;
  background-color: #12F3D7;
}
